@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #86c232;
  font-family: "Raleway", sans-serif;
}

.container {
  background: url("../../assets/images/banner.jpg") no-repeat center center;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-page {
  background: url("../../assets/images/banner.jpg") no-repeat center center;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-page .landing-page__content {
  color: #474b4f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3em;
  margin: 20% auto;
  width: 40%;
  background-color: rgba(149, 252, 64, 0.52);
  border-radius: 50%;
}

.landing-page .landing-page__content .landing-btn button {
  background-color: #61892f;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: 0px 3px 3px rgba(143, 141, 141, 0.541);
          box-shadow: 0px 3px 3px rgba(143, 141, 141, 0.541);
}

.landing-page .landing-page__content .landing-btn button:hover {
  background-color: white;
  color: #61892f;
}

.form-container {
  background: rgba(149, 252, 64, 0.52);
  min-width: 300px;
  width: 600px;
  border-radius: 20px;
  padding: 20px;
}

.App__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #474b4f;
}

.App__form form input {
  width: 100%;
}

.App__form form button {
  background-color: #61892f;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: 0px 3px 3px rgba(143, 141, 141, 0.541);
          box-shadow: 0px 3px 3px rgba(143, 141, 141, 0.541);
}

.App__form form button:hover {
  background-color: white;
  color: #61892f;
}
/*# sourceMappingURL=App.css.map */